---
import Layout from "../layouts/Layout.astro";
import Raspaygana from "../components/Raspaygana";
---

<Layout title="Welcome to Wonder Greet">
	<main>
		<p>
			En WonderGreet, nos dedicamos a hacer que cada momento especial sea aún
			más memorable. Somos expertos en la creación de tarjetas personalizadas y
			productos emocionantes que celebran los hitos más importantes de la vida.
			Desde anunciar un embarazo hasta felicitar por una boda, nuestras
			creaciones llenas de sorpresas y detalles únicos transmiten emociones
			genuinas y fortalecen los lazos afectivos entre las personas. Con
			WonderGreet, cada ocasión se convierte en una experiencia inolvidable.
		</p>
		<Raspaygana client:load />
	</main>
</Layout>
