---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to WonderGreet.">
	<main>
		<div class="bg-[#FFB6C1] p-5"></div>
		<div class="bg-[#98FB98] p-5"></div>
		<div class="bg-[#FFFFE0] p-5"></div>
		<div class="bg-[#D3D3D3] p-5"></div>
		<div class="bg-[#87CEEB] p-5"></div>
	</main>
</Layout>
