<!-- Section for Featured Products -->
<section class="py-12" id="Sección de Producto Destacado">
	<div class="container mx-auto px-4">
		<!-- Section Title -->
		<h2 class="text-3xl font-semibold text-center mb-8">
			Descubre Nuestros Productos Destacados
		</h2>
		<!-- Grid for Product Cards -->
		<div class="grid grid-cols-1
 md:grid-cols-3 gap-8">
			<!-- Pregnancy Card -->
			<div class="flex flex-col items-center bg-white p-6 rounded-lg shadow-md">
				<h3https://developers.google.com/idx/guides/get-started?hl=es-419#expandable-2 class="text-xl font-semibold mb-2">Tarjetas de Embarazo</h3>
				<p class="text-gray-700 mb-4">
					Anuncia la llegada de tu bebé de una manera única y especial.
				</p>
				<a
					href="/products"
					class="px-4 py-2 rounded-md hover:
 transition-colors duration-300"
					>Ver Tarjetas de Embarazo</a
				>
			</div>
			<!-- Business Card -->
			<div class="flex flex-col items-center bg-white p-6 rounded-lg shadow-md">
				<h3 class="text-xl font-semibold mb-2">Tarjetas para Empresas</h3>
				<p class="text-gray-700 mb-4">
					Impulsa tu marca y atrae a más clientes con nuestras tarjetas
					personalizadas para empresas.
				</p>
				<a
					href="/products"
					class="px-4 py-2 rounded-md hover:-dark transition-colors duration-300"
					>Ver Tarjetas para Empresas</a
				>
			</div>
			<!-- Birthday Card -->
			<div class="flex flex-col items-center bg-white p-6 rounded-lg shadow-md">
				<h3 class="text-xl font-semibold mb-2">
					¡Cumpleaños Mágico con Personajes!
				</h3>
				<p class="text-gray-700 mb-4">
					Descubre nuestras tarjetas únicas y videos mágicos para celebrar cada
					ocasión especial.
				</p>
				
