<section
	class="flex flex-col items-center py-40 gap-5 px-5 mx-auto bg-secondary"
>
	<h1 class="text-4xl font-bold leading-tight text-center text-white">
		¡Celebra Cada Momento Especial con <span class="text-tertiary"
			>WonderGreet</span
		>!
	</h1>
	<p class="text-lg text-center text-white">
		Descubre nuestras tarjetas personalizadas que hacen que cada ocasión sea
		inolvidable.
	</p>
</section>
