<!-- 		<footer>
			<p>Inicio Productos Sobre Nosotros Contacto</p>
			<div>
				<h6>
					"Suscríbete para recibir ofertas especiales y actualizaciones de
					WonderGreet".
				</h6>
				<input type="text" placeholder="formulario" />
			</div>
			<h6>social media links</h6>
			<button>"¡Personaliza tu Tarjeta y Celebra Momentos Inolvidables!"</button
			>
		</footer> -->
