---
const menuItems = [
	{
		title: "Productos",
		link: "/products",
	},
	{
		title: "Personaliza",
		link: "/",
	},
	{
		title: "Nosotros",
		link: "/about",
	},
	{
		title: "Contacto",
		link: "/",
	},
];
---

<div class="px-4 flex items-center flex-wrap justify-between">
	<div class="flex gap-4 py-3">
		<a href="/">
			<img src="/Logo.png" class="h-12" />
		</a>
	</div>
	<div class="flex gap-5 text-secondary">
		{
			menuItems.map((item) => (
				<a class="hover:pointer text-secondary" href={item.link}>
					{item.title}
				</a>
			))
		}
	</div>
</div>
