---
const menuItems = [
	{
		title: "Productos",
		link: "/products",
	},
	{
		title: "Personaliza",
		link: "/",
	},
	{
		title: "Nosotros",
		link: "/about",
	},
	{
		title: "Contacto",
		link: "/",
	},
];
---

<div class="bg-[#87CEEB] px-4 flex items-center flex-wrap justify-between">
	<div class="flex gap-4 py-3">
		<a href="/" class="text-2xl font-bold text-white">Wonder Great</a>
	</div>
	<div class="flex gap-5 text-white">
		{
			menuItems.map((item) => (
				<a class="hover:pointer" href={item.link}>
					{item.title}
				</a>
			))
		}
	</div>
</div>
