<section>
	<div class="flex flex-col gap-5 items-center mb-20 px-5 text-center">
		<h2 class="text-3xl font-semibold">¡Por Tiempo Limitado!</h2>
		<h3 class="text-xl font-semibold">
			Obtén un 20% de Descuento en tu Primer Pedido
		</h3>
		<p class="text-lg text-gray-700">
			¡Aprovecha esta oportunidad única para disfrutar de un descuento especial
			en tu primer pedido con WonderGreet! Descubre nuestras tarjetas
			personalizadas y haz que tus momentos especiales sean aún más memorables.
		</p>
		<p>Envío Rápido y Seguro a Cualquier Lugar</p>
		<a href="/" class="bg-primary text-white p-3 rounded-md"
			>Aprovecha esta Oferta Ahora</a
		>
	</div>
</section>
