<section class="py-12">
	<div class="container mx-auto px-4">
		<h2 class="text-3xl font-semibold text-center mb-8">
			Testimonios de Clientes Satisfechos
		</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
			<!-- Testimonio 1 -->
			<div class="bg-white p-6 rounded-lg shadow-md">
				<blockquote class="text-lg text-gray-700 italic mb-4">
					"WonderGreet nos ayudó a hacer nuestra boda aún más especial con sus
					hermosas tarjetas personalizadas. ¡Recibimos muchos elogios de
					nuestros invitados!"
				</blockquote>
			</div>
			<!-- Testimonio 2 -->
			<div class="bg-white p-6 rounded-lg shadow-md">
				<blockquote class="text-lg text-gray-700 italic mb-4">
					"Increíble experiencia con WonderGreet. Sus tarjetas son de la más
					alta calidad y el proceso de personalización fue fácil y divertido.
					¡Definitivamente volveré a comprar!"
				</blockquote>
			</div>
			<!-- Testimonio 3 -->
			<div class="bg-white p-6 rounded-lg shadow-md">
				<blockquote class="text-lg text-gray-700 italic mb-4">
					"Queríamos hacer algo especial para el cumpleaños de nuestra hija, y
					las tarjetas de WonderGreet fueron la elección perfecta. La cara de
					nuestra hija cuando vio su nombre en la tarjeta fue impagable.
					¡Gracias, WonderGreet!"
				</blockquote>
			</div>
			<!-- Testimonio 4 -->
			<div class="bg-white p-6 rounded-lg shadow-md">
				<blockquote class="text-lg text-gray-700 italic mb-4">
					"Mis colegas y yo quedamos impresionados con las tarjetas de
					agradecimiento que pedimos para nuestros clientes. WonderGreet nos
					ayudó a dejar una impresión duradera. ¡Altamente recomendado!"
				</blockquote>
			</div>
		</div>
		<!-- Botón para Ver Más Testimonios -->
		<div class="text-center mt-8">
			<a
				href="#"
				class="text-primary font-semibold hover:text-primary-dark transition-colors duration-300"
				>Descubre Más Testimonios</a
			>
		</div>
	</div>
</section>
